# I. Змінні та памʼять.

1. Створити змінні, що посилаються на два цілих числа, що однакові за значенням, де значення належить проміжку від -5 до 256. Перевірте, чи будуть ці змінні рівні тільки за значенням або ж ще будуть посилатися на один і той самий обʼєкт в памʼяті? Наведіть код та дайте текстову відповідь нижче.

In [2]:
var1 = 20
var2 = 20
id(var1), id(var2)

(10751464, 10751464)

Змінні var1 і var2 не тільки рівні за значенням, але й посилаються на один і той самий об'єкт у пам'яті, оскільки в Python числа в діапазоні від -5 до 256 кешуються

2. За допомогою якої функції можна перевірити належність змінної до вказаного типу даних (напр. чи змінна True посилається на значення булевого та цілочисленого типу)?

In [8]:
print(isinstance(True, bool))
print(isinstance(True, int))

True
True

# II. Цілі числа та числа з рухомою комою

3. Створити дві змінні, що посилаються на будь-які ціле число та число з рухомою комою та продемонструвати такі арифметичні операції: додавання, віднімання, ділення, множення, ділення без залишку, ділення по модулю, приведення до ступеню. Всі результати операцій вивести на екран.

In [15]:
a = 10
b = 3.5
print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a // b)
print(a % b)
print(a ** b)

13.5
6.5
35.0
2.857142857142857
2.0
3.0
3162.2776601683795

4. Використовуючи змінні з вправи 3, продемонструйте механізм явного перетворення типів, де числа з рухомою комою перетворюються на цілі числа. Також визначте змінну, що посилається на значення булевого типу і спробуйте явно привести її до цілого числа.

In [14]:
print(float(a))
print(int(b))
print(int(True))
print(int(False))

10.0
3
1
0

# IІІ. Рядки (String).

5. Створити пустий рядок двома різними способами.

In [24]:
str1 = ""
str2 = ''
str3 = str()
print(str1)
print(str2)
print(str3)

6. Створити рядок з апострофом. Зробити його сирим. Вивести обидва рядка на екран.

In [27]:
str1 = '\''
str2 = r'\''
print(str1)
print(str2)

'
\'

7. Створити змінну, що буде посилатися на Ваше прізвище латинкою. Створити форматований рядок, який буде мати вигляд "My surname is ______", де на місці нижніх підкреслень буде Ваше прізвище зі змінної.

In [30]:
s = "Hibskyi"
res = f"My surname is {s}"
res

'My surname is Hibskyi'

8. Маючи рядок "My dog is crazy." перетворити його на список ["my", "dog", "is", "crazy"]

In [36]:
s = "My dog is crazy."
s[:-1].lower().split(' ')

['my', 'dog', 'is', 'crazy']

# IV. Робота зі списками.

9. Створити список двома різними за синтаксисом способами. За допомогою вбудованої функції обчисліть довжину одного з них.

In [48]:
list1 = list(("a", "b", "c"))
list2 = ["d", "e"]
print(list1)
print(list2)
len(list1)

['a', 'b', 'c']
['d', 'e']

3

10. Створіть два списка та за допомогою спеціального методу додайте другий з них в якості останнього елемента першого.

In [50]:
list1 = ["a", "b", "c"]
list2 = ["d", "e"]
list1.append(list2)
list1

['a', 'b', 'c', ['d', 'e']]

11. Створіть список, де елементами цього списку також є списки. Отримай перший елемент з останнього рядка та виведи значення на екран.

In [51]:
list1 = [["a"], ["b", "c"], ["d", "e"]]
list1[-1][0]

'd'

12. Створіть список з десяти елементів різного типу. Отримайте всі елементи, окрім двох перших та двох останніх та збережіть їх в новій змінній.

In [53]:
list1 = ["a", "b", "c", [], (), 1, 2, 3.0, 4.0, True]
list2 = list1[2:-2]
list2

['c', [], (), 1, 2, 3.0]

# V. Робота з кортежами.

14. Створити кортеж з один елементом.

In [56]:
tuple1 = (1)
tuple1

1

15. Порівняйте список та кортеж. Назвіть схожості та відмінності, випадки використання.

Схожості: і списки, і кортежі є впорядкованими послідовностями даних, можуть зберігати елементи різних типів, підтримують індексування елементів.

Відміності: список - оголошується через квадратні дужки, він змінюваний, повільніший; кортеж - оголошується через круглі дужки, незмінюваний, швидший.

Коли використовувати: список - якщо потрібно змінювати дані всередині структури, кортеж - в інших випадках.

16. Створіть кортеж з 11ти елементів чисел з рухомою комою та отримайте кожен парний за індексом елемент в зворотньому порядку. Наприклад, маючи (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3), отримати (0.3, 8.3, 6.3, 4.3, 2.3). Результат збережіть в нову змінну та виведіть на екран.

In [60]:
tuple1 = (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 10.3, 11.3)
tuple2 = tuple1[::-2]
tuple2

(11.3, 9.3, 7.3, 5.3, 3.3, 1.2)

# VI. Множини (Set).

17. Створити множину без елементів. Після цого за допомогою методу додайте кілька різних елементів до множини. Чи множини є змінним типом даних?

In [64]:
set1 = set()
set1.add(1.1)
set1.add("hello")
set1.add(True)
set1

{1.1, True, 'hello'}

Так, множини є змінним типом даних

18. Створити множину, маючи список my_list = [1, 1, 2, 67, 67, 8, 9]. Пояснити, чому "зникли" деякі елементи.

In [67]:
my_list = [1, 1, 2, 67, 67, 8, 9]
my_set = set(my_list)
my_set

{1, 2, 8, 9, 67}

Деякі елементи "зникли", оскільки множина не дозволяє зберігати дублікати і зберігає лише унікальні значення.

19. Створіть дві множини. Продемонстуйте над ними операції: обʼєднання, різниці, пересічі та симетричної різниці. Використовуйте методи, що не змінюють множини, а створюють нові.

In [72]:
set1 = {0, 1, 2, 3}
set2 = {2, 3, 4, 5}
print(set1.union(set2))
print(set1.difference(set2))
print(set1.intersection(set2))
print(set1.symmetric_difference(set2))

{0, 1, 2, 3, 4, 5}
{0, 1}
{2, 3}
{0, 1, 4, 5}

# VII. Словники (Dictionary).

20. Створіть пустий словник. До нього додайте чотири пари елементів такі, щоб їхні ключі були різних типів. Чи може список бути ключем? Чому?

In [74]:
dict1 = dict()
dict1[1] = "int"
dict1["key"] = "str"
dict1[(1, 2)] = "tuple"
dict1[1.5] = "float"
dict1

{1: 'int', 'key': 'str', (1, 2): 'tuple', 1.5: 'float'}

Ні, список не може бути ключем у словнику, оскільки він є змінним типом даних.

21. Створіть словник, де значенням в одній з пар теж буде словник, який теж має вкладений словник. Виведіть на екран значення, що міститься в словнику, що знаходиться на найнижчому рівні ієрархії вкладеності (найбільш внутрішній).

In [75]:
dict1 = {1:"1", 2:"2", 3:{1:"1", 2:"2", 3:{1:"hello", 2:"world"}}}
dict1[3][3]

{1: 'hello', 2: 'world'}

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.